body{
    background-color: rgb(230, 242, 247);
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    text-align: left;
}

nav li{
    list-style:none;
    padding:4px 70px;
    text-align:center;
    background-color:rgb(230, 242, 247);
}
 
ul{
    padding:0;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover{
    color: white;
}

nav:hover{
    cursor:default;
}

#contenido{
    width: 1000px;
    margin:0 auto;
}

.etapas{
    width: 1000px;
    border: 1px solid #000;
    border-collapse: collapse;
}

.etapas th, .etapas td {
    border: 1px solid #000;
}

.etapas th{
    background: #b0fad5;
}

table tr{
    background: white;
}

table tr:hover {
    background: #FFFF66;
    }

header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:blue;
}

.cuadros{
    float: left;
    width: 320px;
    border:1px lightgray solid;
    border-radius:3px;
    background-color:white;
    text-align:center;
    padding:5px 5px 22px 5px;
    box-shadow:0px 0px 4px blue;
}

img{
display:block;
margin:auto;
}

article {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: whitesmoke;
    margin: 50px auto;
    width: 70%;
    border: 2px blue;
    border-radius: 10px;
    box-shadow: 0 0 4px blue;
    color: blue;
    text-align: center;
}

#mapa {
    height: 400px;
    padding: 0;
    margin-bottom: 20px;
}

#parar {
    display: block;
    margin: 20px auto 30px;
    width: 100px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 0 0 4px blue;
    color: blue;
}

#parar:hover {
    border: 2px solid #2E5E90;
    box-shadow: 0 0 4px #2E5E90;
    color: #2E5E90;
}

header{
    background-color: rgb(230, 242, 247);
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

.scroll {
  position: fixed;
  right: 20px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background: #222;
  color: white;
  cursor: pointer;
}

.up { bottom: 70px; }
.down { bottom: 20px; }